*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

button:focus,
input:focus {
  outline: none;
}

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;
}

.main-heading h2::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 100px;
  background-color: #000;
}

.main-heading h2::before {
  content: '';
  position: absolute;
  bottom: -1.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  z-index: 2;
}

.main-heading p {
  max-width: 550px;
  margin: 0 auto 5rem;
  color: #919090;
  line-height: 1.5;
}

.btn {
  padding: 1rem 1.2rem;
  text-transform: uppercase;
  background-color: #06a6d0;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 5;
}

header .container {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header .container .logo img {
  height: 40px;
}

header .container .burger-menu {
  color: #fff;
  cursor: pointer;
}

header .container nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .container nav ul {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container nav ul li {
  text-transform: uppercase;
  margin-left: 1rem;
}

header .container nav ul li a {
  padding-top: 1.59rem;
  padding-bottom: 1.59rem;
  color: #fff;
  letter-spacing: .5px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

header .container nav ul li .active, header .container nav ul li a:hover {
  border-bottom: 2px solid #06a6d0;
  color: #06a6d0;
  position: relative;
  z-index: 2;
}

header .container nav form {
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  text-align: right;
  position: relative;
}

header .container nav form input {
  width: 40%;
  margin-right: 0;
  padding: .5rem;
  border: none;
  border-left: 2px solid #726f71;
  background-color: transparent;
  caret-color: #06a6d0;
  color: #fff;
}

header .container nav form i {
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

header .container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  height: 2px;
  width: calc(100% - 30px);
  background-color: #726f71;
}

/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/landing/landing1.jpg");
  background-size: cover;
  position: relative;
}

.landing .intro {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 55%;
  padding: 3rem;
  background-color: rgba(6, 166, 208, 0.4);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing .intro .content {
  max-width: 500px;
  color: #fff;
}

.landing .intro .content h1 {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-weight: normal;
  text-transform: uppercase;
}

.landing .intro .content p {
  line-height: 1.8;
}

.landing .arrow {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: 4;
}

.landing .left-arrow {
  left: 20px;
}

.landing .right-arrow {
  right: 20px;
}

.landing .bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.landing .bullets li.active,
.landing .bullets li:hover {
  background-color: #06a6d0;
  border-color: #06a6d0;
}

.landing::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* End Landing */
/* Start Services */
.services {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.services .services-box .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .services-box .service i {
  margin-right: 2rem;
}

.services .services-box .service h3 {
  color: #06a6d0;
  margin-bottom: 1.5rem;
}

.services .services-box .service p {
  color: #919090;
  line-height: 1.7;
}

/* End Services */
/* Start Design Section */
.design {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url("../images/design-features2.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.design::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.design .design-img,
.design .design-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 2;
}

.design .design-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design .design-img img {
  position: relative;
  bottom: -150px;
}

.design .design-text {
  padding: 2rem;
  background-color: rgba(6, 166, 208, 0.7);
  color: #fff;
  text-transform: capitalize;
}

.design .design-text h2 {
  margin-bottom: 2rem;
  font-weight: normal;
}

.design .design-text ul li {
  padding: 1rem 0;
}

.design .design-text ul li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f108';
  font-weight: 900;
  margin-right: 1rem;
}

/* End Design Section */
/* Start Portfolio */
.portfolio {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.portfolio .portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.portfolio .portfolio-items .tabs {
  margin: 0 auto 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .portfolio-items .tabs li {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}

.portfolio .portfolio-items .tabs li.active,
.portfolio .portfolio-items .tabs li:hover {
  background-color: #06a6d0;
  color: #fff;
}

.portfolio .portfolio-items .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.portfolio .portfolio-items .images .img-box {
  overflow: hidden;
  position: relative;
}

.portfolio .portfolio-items .images .img-box img {
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolio .portfolio-items .images .img-box .caption {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: capitalize;
  background-color: #fff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolio .portfolio-items .images .img-box .caption h4 {
  margin-bottom: 1rem;
  color: #06a6d0;
}

.portfolio .portfolio-items .images .img-box:hover img {
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
}

.portfolio .portfolio-items .images .img-box:hover .caption {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio .btn {
  display: block;
  margin: 0 auto;
}

/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}

.video::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.video video {
  width: 100%;
}

.video .text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  background-color: rgba(6, 166, 208, 0.5);
  color: #fff;
  z-index: 2;
}

.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.video .text p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.video .text .btn {
  background-color: #000;
}

/* End Video */
/* Start About us */
.about-us {
  padding-top: 7rem;
  text-align: center;
  overflow: hidden;
}

.about-us img {
  position: relative;
  bottom: -100px;
  margin-top: -100px;
  max-width: 100%;
}

/* End About us */
/* Start Stats */
.stats {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url("../../../images/stats.jpg");
  position: relative;
}

.stats::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.stats .stats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background-color: rgba(6, 166, 208, 0.7);
  position: relative;
  z-index: 2;
}

.stats .stats-box .stat {
  padding: 3rem;
  color: #fff;
}

.stats .stats-box .stat .icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #FFF;
}

.stats .stats-box .stat h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 4rem;
}

/* End Stats */
/* Start Skills and Testimonials */
.our-skills {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.our-skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.our-skills .container .section-heading {
  text-align: center;
  margin-bottom: 3.5rem;
}

.our-skills .container .section-heading h3 {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.our-skills .container .section-heading p {
  line-height: 1.7;
  color: #919090;
}

.our-skills .container .testimonials {
  position: relative;
}

.our-skills .container .testimonials .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-skills .container .testimonials .content .testims {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.our-skills .container .testimonials .content .testims .testim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.our-skills .container .testimonials .content .testims .testim .image {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-skills .container .testimonials .content .testims .testim .image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.our-skills .container .testimonials .content .testims .testim .text p {
  line-height: 1.7;
  margin-bottom: 1rem;
}

.our-skills .container .testimonials .content .testims .testim .text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1rem;
  color: #919090;
}

.our-skills .container .testimonials .content .testims.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-skills .container .testimonials .bullets {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
}

.our-skills .container .testimonials .bullets li {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #919090;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.our-skills .container .testimonials .bullets li.active,
.our-skills .container .testimonials .bullets li:hover {
  background-color: #06a6d0;
  border-color: #06a6d0;
}

.our-skills .container .skills .progress .prog .tech {
  display: block;
  margin-bottom: .5rem;
}

.our-skills .container .skills .progress .prog .prog-container {
  height: 2rem;
  background-color: #e0e0e0;
}

.our-skills .container .skills .progress .prog .prog-container .percentage {
  display: block;
  height: 100%;
  background-color: #06a6d0;
}

.our-skills .container .skills .progress .prog:not(:last-of-type) {
  margin-bottom: 2rem;
}

/* End Skills and Testimonials */
/* Start Quote */
.quote {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../../images/quote.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../images/quote.jpg");
  background-position: center;
  background-size: cover;
}

.quote .container {
  position: relative;
  text-align: center;
  color: #fff;
}

.quote .container q {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.quote .container q::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f10d';
  font-weight: 900;
  margin-right: 1rem;
}

.quote .container q::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f10e';
  font-weight: 900;
  margin-left: 1rem;
}

.quote .container span {
  display: block;
}

/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.pricing .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.pricing .options .option {
  text-align: center;
  margin-bottom: 4rem;
}

.pricing .options .option .head {
  padding: 1rem;
  border-top: 1px solid #06a6d0;
  border-bottom: 1px solid #06a6d0;
}

.pricing .options .option .head h3 {
  font-size: 1.7rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 1rem;
}

.pricing .options .option .head span {
  font-weight: bold;
  font-size: 4rem;
  position: relative;
}

.pricing .options .option .head span::before {
  content: '$';
  position: absolute;
  left: -1.5rem;
  top: 0;
  font-size: 1.5rem;
}

.pricing .options .option .head span::after {
  content: '/Mo';
  position: absolute;
  right: -3rem;
  bottom: 1rem;
  font-size: 1.5rem;
}

.pricing .options .option .features {
  margin-bottom: 2rem;
  border-bottom: 1px solid #06a6d0;
}

.pricing .options .option .features li {
  padding: 1rem;
  position: relative;
}

.pricing .options .option .features li:not(:last-of-type)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: #06a6d0;
}

.pricing .options .option .btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #06a6d0;
  text-transform: capitalize;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing .options .option .btn:hover {
  background-color: #06a6d0;
}

.pricing .options .option .btn:hover a {
  color: #fff;
}

.pricing .contact {
  margin-top: 1rem;
  text-align: center;
}

.pricing .contact p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

/* End Pricing */
/* Start Subscibe */
.subscribe {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../../images/subscribe.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../images/subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.subscribe .container .form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.subscribe .container .form .input {
  position: relative;
}

.subscribe .container .form .input input {
  width: 100%;
  padding: 1rem 2.5rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  caret-color: #06a6d0;
}

.subscribe .container .form .input input::-webkit-input-placeholder {
  color: #fff;
}

.subscribe .container .form .input input:-ms-input-placeholder {
  color: #fff;
}

.subscribe .container .form .input input::-ms-input-placeholder {
  color: #fff;
}

.subscribe .container .form .input input::placeholder {
  color: #fff;
}

.subscribe .container .form .input i {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.subscribe .container .form .btn {
  width: 30%;
  position: absolute;
  right: 1px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.subscribe .container p {
  color: #fff;
  line-height: 1.6;
}

/* End Subscibe */
/* Start Contact Us */
.contact-us {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.contact-us .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.contact-us .content .form {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.contact-us .content .form .btn {
  width: 20%;
  margin-left: auto;
}

.contact-us .content .form > * {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.contact-us .content .form > *:focus {
  outline: none;
}

.contact-us .content .info h3 {
  margin-bottom: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

.contact-us .content .info .phone {
  display: block;
  margin-bottom: 1rem;
  color: #919090;
}

.contact-us .content .info .position {
  margin-top: 5rem;
  line-height: 1.7;
}

.contact-us .content .info .position address {
  color: #919090;
}

/* End Contact Us */
/* Start Footer */
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #fff;
  background-image: url("../../../images/subscribe.jpg");
  position: relative;
}

.footer::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer .container {
  position: relative;
  z-index: 2;
}

.footer p {
  margin-top: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.footer hr {
  width: 20%;
  margin: 2rem auto;
}

.footer .social-icons {
  margin-bottom: 3rem;
}

.footer .social-icons a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  color: inherit;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer .social-icons a:hover {
  color: #06a6d0;
}

.footer .copyright {
  text-transform: capitalize;
}

.footer .copyright span {
  color: #06a6d0;
}

/* End Footer */
/* XS Screens */
@media (max-width: 350px) {
  .portfolio .portfolio-items .tabs li {
    padding: 5px !important;
    margin: 0 !important;
  }
  .contact-us .content .form .btn {
    width: 40% !important;
  }
}

/* Mobile Screens */
@media (max-width: 767px) {
  header .burger-menu {
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  header .burger-menu:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  header nav {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 15px;
    width: calc(100% - 30px);
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
  }
  header nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    padding: 15px;
    width: 100%;
  }
  header nav ul li a {
    padding: 0 !important;
    color: #fff;
    letter-spacing: .5px;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
  header nav ul li .active, header nav ul li a:hover {
    border: none !important;
  }
  header nav form {
    width: 100%;
    text-align: center !important;
    position: relative;
  }
  header nav form input {
    width: 95% !important;
    border: 2px solid #726f71 !important;
  }
  header nav form i {
    right: 25px !important;
  }
  .landing .intro .content h1 {
    font-size: 1.7rem;
  }
  .landing .arrow {
    display: none;
  }
  .services {
    text-align: center;
  }
  .services .services-box .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
  .services .services-box .service i {
    margin: 0 0 1.5rem !important;
  }
  .design {
    background-image: url("../images/design-features2.jpg");
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
  }
  .design .design-img {
    display: none;
  }
  .portfolio .portfolio-items .tabs li {
    margin: 0 5px;
  }
  .stats .stats-box .stat {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .our-skills .container .testimonials {
    margin-bottom: 7rem;
  }
  .our-skills .container .testimonials .testims .testim {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .our-skills .container .testimonials .testims .testim .image {
    margin: 0 auto 1rem;
  }
  .contact-us .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact-us .content .form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact-us .content .form .btn {
    margin-right: auto;
    width: 30%;
  }
  .contact-us .content .info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2rem;
  }
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .burger-menu {
    display: none;
  }
  .services-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 3rem 4rem;
  }
  .services-box .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stats .stats-box .stat {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 991px) {
  .intro {
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .our-skills .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-skills .container .testimonials {
    margin-bottom: 7rem;
  }
  .our-skills .container .testimonials .testims .testim .image {
    -ms-flex-preferred-size: 35% !important;
        flex-basis: 35% !important;
  }
  .our-skills .container .testimonials .testims .testim .image img {
    width: 120px !important;
    height: 120px !important;
  }
  .our-skills .container .testimonials .testims .testim .text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .subscribe .container .form {
    margin-bottom: 2rem;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .stats .stats-box .stat {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*# sourceMappingURL=main.css.map */