/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 5;
    .container {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        @include flex-center();
        justify-content: space-between;
        position: relative;
        .logo img {
            height: 40px;
        }
        .burger-menu {
            color: #fff;
            cursor: pointer;
        }
        nav {
            flex: 1;
            @include flex-center();
            justify-content: flex-end;
            ul {
                flex-basis: 60%;
                @include flex-center();
                justify-content: space-between;
                li {
                    text-transform: uppercase;
                    margin-left: 1rem;
                    a {
                        padding-top: 1.59rem;
                        padding-bottom: 1.59rem;
                        color: #fff;
                        letter-spacing: .5px;
                        transition: color .3s ease-in-out;
                    }
                    .active, a:hover {
                        border-bottom: 2px solid $main-color;
                        color: $main-color;
                        position: relative;
                        z-index: 2;
                    }
                }
            }
            form {
                flex-basis: 12%;
                text-align: right;
                position: relative;
                input {
                    width: 40%;
                    margin-right: 0;
                    padding: .5rem;
                    border: none;
                    border-left: 2px solid $secondary-color;
                    background-color: transparent;
                    caret-color: $main-color;
                    color: #fff;
                }
                i {
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #fff;
                }
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 15px;
            height: 2px;
            width: calc(100% - 30px);
            background-color: $secondary-color;
        }
    }
}
/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url('../images/landing/landing1.jpg');
    background-size: cover;
    position: relative;
    .intro {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 55%;
        padding: 3rem;
        background-color: rgba($main-color, .4);
        z-index: 3;
        display: flex;
        justify-content: flex-end;
        .content {
            max-width: 500px;
            color: #fff;
            h1 {
                margin-bottom: 1.5rem;
                line-height: 1.6;
                font-weight: normal;
                text-transform: uppercase;
            }
            p {
                line-height: 1.8;
            }
        }
    }
    .arrow {
        color:#fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 4;
    }
    .left-arrow {
        left: 20px;
    }
    .right-arrow {
        right: 20px;
    }
    .bullets {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        z-index: 4;
        li {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            margin-right: 5px;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            @include transition();
        }
        li.active,
        li:hover {
            background-color: $main-color;
            border-color: $main-color;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .7)
    }
}
/* End Landing */

/* Start Services */
.services {
    padding-top:$section-padding;
    padding-bottom: $section-padding;
    .services-box {
        .service {
            display: flex;
            justify-content: space-between;
            i {
                margin-right: 2rem;
            }
            h3 {
                color: $main-color;
                margin-bottom: 1.5rem;
            }
            p {
                color: $p-color;
                line-height: 1.7;
            }
        }
    }
}
/* End Services */

/* Start Design Section */
.design {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-image: url('../images/design-features2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .7)
    }
    .design-img,
    .design-text {
        flex: 1;
        position: relative;
        z-index: 2;
    }
    .design-img {
        display: flex;
        justify-content: center;
        img {
            position: relative;
            bottom: -150px;
        }
    }
    .design-text {
        padding: 2rem;
        background-color: rgba($main-color, .7);
        color: #fff;
        text-transform: capitalize;
        h2 {
            margin-bottom: 2rem;
            font-weight: normal;
        }
        ul {
            li {
                padding: 1rem 0;
                &::before {
                    font-family: 'Font Awesome 5 Free';
                    content: '\f108';
                    font-weight: 900;
                    margin-right: 1rem;
                }
            }
        }
    }
}
/* End Design Section */

/* Start Portfolio */
.portfolio {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    .portfolio-items {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        .tabs {
            margin: 0 auto 2rem;
            display: flex;
            justify-content: space-between;
            li {
                margin: 0 10px;
                padding: 10px;
                cursor: pointer;
            }
            li.active,
            li:hover {
                background-color: $main-color;
                color: #fff;
            }
        }
        .images {
            display: grid;
            grid-template-columns: repeat(auto-fill ,minmax(300px, 1fr));
            .img-box {
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    @include transition();
                }
                .caption {
                    padding: 1rem;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-transform: capitalize;
                    background-color: #fff;
                    transform: translateY(100%);
                    @include transition();
                    h4 {
                        margin-bottom: 1rem;
                        color: $main-color;
                    }
                }
                &:hover {
                    img {
                        transform: rotate(5deg) scale(1.1);
                    }
                    .caption {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
    .btn {
        display: block;
        margin: 0 auto;
    }
}
/* End Portfolio */

/* Start Video */
.video {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000000, .6);
    }
    video {
        width: 100%;
    }
    .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        text-align: center;
        background-color: rgba($main-color, .5);
        color: #fff;
        z-index: 2;
        h2 {
            font-weight: normal;
            text-transform: uppercase;
        }
        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .btn {
            background-color: #000;
        }
    }
}
/* End Video */