/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 5;
    .container {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        @include flex-center();
        justify-content: space-between;
        position: relative;
        .logo img {
            height: 40px;
        }
        .burger-menu {
            color: #fff;
            cursor: pointer;
        }
        nav {
            flex: 1;
            @include flex-center();
            justify-content: flex-end;
            ul {
                flex-basis: 60%;
                @include flex-center();
                justify-content: space-between;
                // display: none;
                @include transition();
                li {
                    text-transform: uppercase;
                    margin-left: 1rem;
                    a {
                        padding-top: 1.59rem;
                        padding-bottom: 1.59rem;
                        color: #fff;
                        letter-spacing: .5px;
                        transition: color .3s ease-in-out;
                    }
                    .active, a:hover {
                        border-bottom: 2px solid $main-color;
                        color: $main-color;
                        position: relative;
                        z-index: 2;
                    }
                }
            }
            form {
                flex-basis: 12%;
                text-align: right;
                position: relative;
                @include transition();
                input {
                    width: 40%;
                    margin-right: 0;
                    padding: .5rem;
                    border: none;
                    border-left: 2px solid $secondary-color;
                    background-color: transparent;
                    caret-color: $main-color;
                    color: #fff;
                }
                i {
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #fff;
                }
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 15px;
            height: 2px;
            width: calc(100% - 30px);
            background-color: $secondary-color;
        }
    }
}
/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url('../images/landing/landing1.jpg');
    background-size: cover;
    position: relative;
    @include transition();
    .intro {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 55%;
        padding: 3rem;
        background-color: rgba($main-color, .4);
        z-index: 3;
        display: flex;
        justify-content: flex-end;
        .content {
            max-width: 500px;
            color: #fff;
            h1 {
                margin-bottom: 1.5rem;
                line-height: 1.6;
                font-weight: normal;
                text-transform: uppercase;
            }
            p {
                line-height: 1.8;
            }
        }
    }
    // .arrow {
    //     color:#fff;
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     cursor: pointer;
    //     z-index: 4;
    // }
    // .left-arrow {
    //     left: 20px;
    // }
    // .right-arrow {
    //     right: 20px;
    // }
    .bullets {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        z-index: 4;
        li {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            margin-right: 5px;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            @include transition();
        }
        li.active,
        li:hover {
            background-color: $main-color;
            border-color: $main-color;
        }
    }
    &::after {
        @include overlay;
    }
}
/* End Landing */

/* Start Services */
.services {
    @include section-padding();
    .services-box {
        .service {
            display: flex;
            justify-content: space-between;
            i {
                margin-right: 2rem;
            }
            h3 {
                color: $main-color;
                margin-bottom: 1.5rem;
            }
            p {
                color: $p-color;
                line-height: 1.7;
            }
        }
    }
}
/* End Services */

/* Start Design Section */
.design {
    @include section-padding();
    background-image: url('../images/design-features2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::after {
        @include overlay;
    }
    .design-img,
    .design-text {
        flex: 1;
        position: relative;
        z-index: 2;
    }
    .design-img {
        display: flex;
        justify-content: center;
        img {
            position: relative;
            bottom: -150px;
        }
    }
    .design-text {
        padding: 2rem;
        background-color: rgba($main-color, .7);
        color: #fff;
        text-transform: capitalize;
        h2 {
            margin-bottom: 2rem;
            font-weight: normal;
        }
        ul {
            li {
                padding: 1rem 0;
                &::before {
                    font-family: 'Font Awesome 5 Free';
                    content: '\f108';
                    font-weight: 900;
                    margin-right: 1rem;
                }
            }
        }
    }
}
/* End Design Section */

/* Start Portfolio */
.portfolio {
    @include section-padding();
    .portfolio-items {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        .tabs {
            margin: 0 auto 2rem;
            display: flex;
            justify-content: space-between;
            li {
                margin: 0 10px;
                padding: 10px;
                cursor: pointer;
            }
            li.active,
            li:hover {
                background-color: $main-color;
                color: #fff;
            }
        }
        .images {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            .img-box {
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    @include transition();
                }
                .caption {
                    padding: 1rem;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-transform: capitalize;
                    background-color: #fff;
                    transform: translateY(100%);
                    @include transition();
                    h4 {
                        margin-bottom: 1rem;
                        color: $main-color;
                    }
                }
                &:hover {
                    img {
                        transform: rotate(5deg) scale(1.1);
                    }
                    .caption {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
    .btn {
        display: block;
        margin: 0 auto;
    }
}
/* End Portfolio */

/* Start Video */
.video {
    position: relative;
    &::after {
        @include overlay;
    }
    video {
        width: 100%;
    }
    .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        text-align: center;
        background-color: rgba($main-color, .5);
        color: #fff;
        z-index: 2;
        h2 {
            font-weight: normal;
            text-transform: uppercase;
        }
        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .btn {
            background-color: #000;
        }
    }
}
/* End Video */

/* Start About us */
.about-us {
    padding-top: $section-padding;
    text-align: center;
    overflow: hidden;
    img {
        position: relative;
        bottom: -100px;
        margin-top: -100px;
        max-width: 100%;
    }
}
/* End About us */

/* Start Stats */
.stats {
    @include section-padding();
    background-image: url('../images/stats.jpg');
    position: relative;
    &::after {
        @include overlay;
    }
    .stats-box {
        // padding: 3rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        background-color: rgba($main-color, .7);
        position: relative;
        z-index: 2;
        .stat {
            padding: 3rem;
            color: #fff;
            .icon {
                width: 40px;
                height: 40px;
                padding: 10px;
                margin: 0 auto;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000;
                color: #FFF;
            }
            h3 {
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 4rem;
            }
        }
    }
}
/* End Stats */

/* Start Skills and Testimonials */
.our-skills {
    @include section-padding();
    .container {
        display: flex;
        column-gap: 4rem;
        .section-heading {
            text-align: center;
            margin-bottom: 3.5rem;
            h3 {
                font-size: 2rem;
                font-weight: normal;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }
            p {
                line-height: 1.7;
                color: $p-color;
            }
        }
        .testimonials {
            position: relative;
            .content {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                .testims {
                    display: flex;
                    flex-direction: column;
                    display: none;
                    .testim {
                        display: flex;
                        margin-bottom: 3rem;
                        .image {
                            flex-basis: 60%;
                            display: flex;
                            align-items: center;
                            img {
                                width: 100px;
                                height: 100px;
                                border-radius: 50%;
                            }
                        }
                        .text {
                            p {
                                line-height: 1.7;
                                margin-bottom: 1rem;
                            }
                            span {
                                display: flex;
                                justify-content: flex-end;
                                margin-bottom: 1rem;
                                color: $p-color;
                            }
                        }
                    }
                }
                .testims.active {
                    display: flex;
                }
            }
            .bullets {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: space-between;
                z-index: 4;
                li {
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;
                    margin-right: 5px;
                    border: 1px solid $p-color;
                    border-radius: 50%;
                    cursor: pointer;
                    @include transition();
                }
                li.active,
                li:hover {
                    background-color: $main-color;
                    border-color: $main-color;
                }
            }
        }
        .skills {
            .progress {
                .prog {
                    .tech {
                        display: block;
                        margin-bottom: .5rem;
                    }
                    .prog-container {
                        height: 2rem;
                        background-color: #e0e0e0;
                        position: relative;
                        .percentage {
                            display: block;
                            height: 100%;
                            background-color: $main-color;
                        }
                        .tooltip {
                            position: absolute;
                            top: -2.5rem;
                            left: 85%;
                            transform: translateX(-50%);
                            width: 30px;
                            height: 30px;
                            border-radius: 2px;
                            background-color: #000;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: .7rem;
                            z-index: 2;
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                                border-style: solid;
                                border-width: 5px;
                                border-color: #000 transparent transparent transparent;
                            }
                        }
                    }
                }
                .prog:not(:last-of-type) {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
/* End Skills and Testimonials */

/* Start Quote */
.quote {
    @include section-padding();
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/quote.jpg');
    background-position: center;
    background-size: cover;
    .container {
        position: relative;
        text-align: center;
        color: #fff;
        q {
            display: block;
            margin-bottom: 2rem;
            font-size: 1.2rem;
            line-height: 1.6;
            &::before {
                font-family: 'Font Awesome 5 Free';
                content: '\f10d';
                font-weight: 900;
                margin-right: 1rem;
            }
            &::after {
                font-family: 'Font Awesome 5 Free';
                content: '\f10e';
                font-weight: 900;
                margin-left: 1rem;
            }
        }
        span {
            display: block;
        }
    }
}
/* End Quote */

/* Start Pricing */
.pricing {
    @include section-padding();
    .options {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 2rem;
        .option {
            text-align: center;
            margin-bottom: 4rem;
            .head {
                padding: 1rem;
                border-top: 1px solid $main-color;
                border-bottom: 1px solid $main-color;
                h3 {
                    font-size: 1.7rem;
                    font-weight: normal;
                    text-transform: uppercase;
                    padding: 1rem;
                }
                span {
                    font-weight: bold;
                    font-size: 4rem;
                    position: relative;
                    &::before {
                        content: attr(data-sign);
                        position: absolute;
                        left: -1.5rem;
                        top: 0;
                        font-size: 1.5rem;
                    }
                    &::after {
                        content: '/Mo';
                        position: absolute;
                        right: -3rem;
                        bottom: 1rem;
                        font-size: 1.5rem;
                    }
                }
            }
            .features {
                margin-bottom: 2rem;
                border-bottom: 1px solid $main-color;
                li {
                    padding: 1rem;
                    position: relative;
                }
                li:not(:last-of-type) {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 50%;
                        height: 1px;
                        background-color: $main-color;
                    }
                }
            }
            .btn {
                display: inline-block;
                background-color: transparent;
                border: 1px solid $main-color;
                text-transform: capitalize;
                @include transition();
                &:hover {
                    background-color: $main-color;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    .contact {
        margin-top: 1rem;
        text-align: center;
        p {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
    }
}
/* End Pricing */

/* Start Subscibe */
.subscribe {
    @include section-padding();
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/subscribe.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        position: relative;
        display: flex;
        column-gap: 2rem;
        .form {
            flex-basis: 50%;
            position: relative;
            .input {
                position: relative;
                input {
                    width: 100%;
                    padding: 1rem 2.5rem;
                    background: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                    caret-color: $main-color;
                    &::placeholder {
                        color: #fff;
                    }
                }
                i {
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #fff;
                }
            }
            .btn {
                width: 30%;
                position: absolute;
                right: 1px;
                bottom: 50%;
                transform: translateY(50%);
            }
        }
        p {
            color: #fff;
            line-height: 1.6;
        }
    }
}
/* End Subscibe */

/* Start Contact Us */
.contact-us {
    @include section-padding();
    .content {
        display: flex;
        justify-content: space-between;
        column-gap: 3rem;
        .form {
            flex-basis: 70%;
            .btn {
                width: 20%;
                margin-left: auto;
            }
        }
        .form > * {
            display: block;
            width: 100%;
            padding: 1rem;
            margin-bottom: 2rem;
            &:focus {
                outline: none;
            }
        }
        .info {
            h3 {
                margin-bottom: 1rem;
                font-weight: normal;
                text-transform: uppercase;
            }
            .phone {
                display: block;
                margin-bottom: 1rem;
                color: $p-color;
            }
            .position {
                margin-top: 5rem;
                line-height: 1.7;
                address {
                    color: $p-color;
                }
            }
        }
    }
}
/* End Contact Us */

/* Start Footer */
.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #fff;
    background-image: url('../images/subscribe.jpg');
    background-size: cover;
    position: relative;
    &::after {
        @include overlay();
    }
    .container {
        position: relative;
        z-index: 2;
    }
    p {
        margin-top: 3rem;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    hr {
        width: 20%;
        margin: 2rem auto;
    }
    .social-icons {
        margin-bottom: 3rem;
        a {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 22px;
            color: inherit;
            @include transition();
            &:hover {
                color: $main-color;
            }
        }
    }
    .copyright {
        text-transform: capitalize;
        span {
            color: $main-color;
        }
    }
}
/* End Footer */