/* XS Screens */
@media (max-width: 350px) {
    .portfolio {
        .portfolio-items {
            .tabs {
                li {
                    padding: 5px !important;
                    margin: 0 !important;
                }
            }
        }
    }
}
/* Mobile Screens */
@media (max-width: 767px) {
    header {
        .burger-menu {
            color: #fff;
            @include transition();
            &:hover {
                transform: rotate(90deg);
            }
        }
        nav {
            display: none !important;
            position: absolute;
            top: 100%;
            left: 15px;
            width: calc(100% - 30px);
            padding-bottom: 10px;
            flex-direction: column;
            background-color: rgba(#000000, .9);
            ul {
                width: 100%;
                flex-direction: column;
                li {
                    padding: 15px;
                    width: 100%;
                    a {
                        padding: 0 !important;
                        color: #fff;
                        letter-spacing: .5px;
                        transition: color .3s ease-in-out;
                    }
                    .active, a:hover {
                        border: none !important;
                    }
                }
            }
            form {
                width: 100%;
                text-align: center !important;
                position: relative;
                input {
                    width: 95% !important;
                    border: 2px solid $secondary-color !important;
                }
                i {
                    right: 25px !important;
                }
            }
        }
    }
    .landing {
        .intro {
            .content {
                h1 {
                    font-size: 1.7rem;
                }
            }
        }
        .arrow {
            display: none;
        }
    }
    .services {
        text-align: center;
        .services-box {
            // gap: 3rem 0 !important;
            .service {
                flex-direction: column;
                margin-bottom: 3rem;
                i {
                    margin: 0 0 1.5rem !important;
                }
            }
        }
    }
    .design {
        background-image: url('../images/design-features2.jpg');
        background-size: cover;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        .design-img {
            display: none;
        }
    }   
    .portfolio {
        .portfolio-items {
            .tabs {
                li {
                    margin: 0 5px;
                }
            }
        }
    }
    .stats {
        .stats-box {
            .stat {
                flex-basis: 100%;
            }
        }
    }
    .our-skills {
        .container {
            .testimonials {
                margin-bottom: 7rem;
                .testims {
                    .testim {
                        flex-direction: column;
                        text-align: center;
                        .image {
                            margin: 0 auto 1rem;
                        }
                    }
                }
            }
        }
    }
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .burger-menu {
        display: none;
    }
    .services-box {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 3rem 4rem;
        .service {
            display: flex;
            justify-content: space-between;
        }
    }
    .stats {
        .stats-box {
            .stat {
                flex-basis: 50%;
            }
        }
    }
}
@media (max-width: 991px) {
    .intro {
        width: 100% !important;
        justify-content: center !important;
    }
    .our-skills {
        .container {
            flex-direction: column;
            .testimonials {
                margin-bottom: 7rem;
                .testims {
                    .testim {
                        .image {
                            flex-basis: 35% !important;
                            img {
                                width: 120px !important;
                                height: 120px !important;
                            }
                        }
                        .text {
                            flex-basis: 100%;
                        }
                    }
                }
            }
        }
    }
    .subscribe {
        .container {
            flex-direction: column;
            text-align: center;
            .form {
                margin-bottom: 2rem;
            }
        }
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .stats {
        .stats-box {
            .stat {
                flex-basis: 25%;
            }
        }
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}